<%= form_with(model: holding, local: true) do |form| %>
  <% if holding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(holding.errors.count, "error") %> prohibited this holding from being saved:</h2>

      <ul>
      <% holding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :holding_symbol, data: { autocomplete_source: stocks_path}, id: 'holding_holding_symbol' %>

  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :holding_price %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity, id: :holding_quantity %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date, id: :holding_date %>
  </div>

    <%= form.hidden_field :portfolio_id, id: :holding_portfolio_id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<script>
jQuery(function() {
  return $('#holding_holding_symbol').autocomplete({
    source: $('#holding_holding_symbol').data('autocomplete-source')
  });
});
</script>
