<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @portfolio.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @portfolio.user.email %>
</p>

<p>
  <strong>Descripion:</strong>
  <%= @portfolio.descripion %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @portfolio.start_date %>
</p>

<%= line_chart @portfolio.holdings.map{|holding|
    {name: holding.holding.symbol, data: holding.holding.dividend_rank.group_by_month(:date).pluck(:date,:price)}
}, points: false, width: "579px", height: "300px" %>

<%= datagrid_form_for @grid, :method => :get, :url => holdings_path %>

<%= paginate(@grid.assets) %>
<%= datagrid_table @grid %>

<%= paginate(@grid.assets) %>

<%= link_to 'New Holding', new_holding_path(portfolio_id: @portfolio.id) %> | 
<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
