<p id="notice"><td><%= notice %></td></tr>

<table>
	<tbody>
<tr>
  <td>
<table>
	<tbody>
<tr>
  <th>Symbol</th>
  <th>Name</th>
  <th>Industry</th>
  <th>Sector</th>
  <td></td>
</tr>

<tr>
  <td><%= @stock.symbol %></td>
  <td><%= @stock.name %></td>
  <td><%= @stock.industry.name %></td>
  <td><%= @stock.sector.name %></td>
  <td></td>
</tr>
<tr>
  <th>Close</th>
  <th>Last Close</th>
  <th>Change</th>
  <th>Change Percent</th>
  <td></td>
</tr>

<tr>
  <td><%= @stock.close %></td>
  <td><%= @stock.previous_close %></td>
  <td><%= @stock.change %></td>
  <td><%= @stock.change_percent %></td>
  <td></td>
</tr>

<tr>
<th><%= link_to 'Back', stocks_path %></th>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
	</tbody>
</table>

<table>
<tbody>
<tr>
  <th>Symbol</th>
  <th>Name</th>
  <th>Industry</th>
  <th>Sector</th>
  <td></td>
</tr>

<tr>
  <td><%= @dividend.stock.symbol %></td>
  <td><%= @dividend.stock.name %></td>
  <td><%= @dividend.stock.industry.name %></td>
  <td><%= @dividend.stock.sector.name %></td>
  <td></td>
</tr>

<tr>
  <th>Date</th>
  <td><%= @dividend.date %></td>
  <td></td>
</tr>

<tr>
  <th>Qtly Sched</th>
  <th>Ex div</th>
  <th>Div record</th>
  <th>Div pay</th>
  <td></td>
</tr>

<tr>
  <td><%= @dividend.frequency %></td>
  <td><%= @dividend.ex_date %></td>
  <td><%= @dividend.record_date %></td>
  <td><%= @dividend.payment_date %></td>
  <td></td>
</tr>

</tbody>
</table>
</td>
<td>
<table width="100%">
  <tbody>
<tr width="100%">
  <th>Close</th>
<td><%  @hp = HistoricalPrice.where(stock_id: @stock.id).group(:date) -%>
<td width="100%">
<%= line_chart @hp.pluck(:date,:close)  %></td>
</tr>

<tr width="100%">

  <th>Dividends</th>
<td><%  @hp = Dividend.where(stock_id: @stock.id).group(:payment_date) -%>
<td width="100%">
<%= line_chart @hp.pluck(:payment_date,:amount)  %></td>
</tr>
<!--
<tr>
<th>Old Rate</th>
<td colspan=3>
<%#= line_chart @dividends.pluck(:date,:old_rate)  %></td>
</tr>
<tr>
<th>New Rate</th>
<td colspan=3>
<%#= line_chart @dividends.pluck(:date,:new_rate)  %></td>
</tr>
<tr>
<th>MR% Inc</th>
<td colspan=3>
<%#= line_chart @dividends.pluck(:date,:mr_inc)  %></td>
</tr>

<tr>
<th>Annual div</th>
<td colspan=3>
<%#= line_chart @dividends.pluck(:date,:annual_div)  %></td>
</tr>

<tr>
<th>Payout</th>
<td colspan=3>
<%#= line_chart @dividends.pluck(:date,:payout)  %></td>
</tr>
<tr>
<th>P/E</th>
<td><%#= @dividends.last.p_e %></td>
<td colspan=3>
<%#= line_chart @dividends.pluck(:date,:p_e)  %></td>
</tr>
<tr>
<th>TTM/EPS</th>
<td colspan=3>
<%#= line_chart @dividends.pluck(:date,:ttm_eps)  %></td>
</tr>
<tr>
<th>PEG Ratio</th>
<td colspan=3>
<%#= line_chart @dividends.pluck(:date,:peg_ratio)  %></td>
</tr>

<tr>
<th>+/-% vs. Graham</th>
<td colspan=3>
<%#= line_chart @dividends.pluck(:date,:i_graham)  %></td>
</tr>
<tr>
<th>TTM P/Sales</th>
<td colspan=3>
<%#= line_chart @dividends.pluck(:date,:ttm_p_sales)  %></td>
</tr>
<tr>
<th>MRQ P/Book</th>
<td colspan=3>
<%#= line_chart @dividends.pluck(:date,:mrq_p_book)  %></td>
</tr>
<tr>
<th>TTM ROE</th>
<td colspan=3>
<%#= line_chart @dividends.pluck(:date,:ttm_roe)  %></td>
</tr>

<tr>
<th>TY Growth</th>
<td colspan=3>
<%#= line_chart @dividends.pluck(:date,:ty_growth)  %></td>
</tr>
<tr>
<th>NY Growth</th>
<td colspan=3>
<%#= line_chart @dividends.pluck(:date,:ny_growth)  %></td>
</tr>
<tr>
<th>Last 5 Growth</th>
<td colspan=3>
<%#= line_chart @dividends.pluck(:date,:last_5_growth)  %></td>
</tr>
<tr>
<th>Est 5 Growth</th>
<td colspan=3>
<%#= line_chart @dividends.pluck(:date,:est_5_growth)  %></td>
</tr>

<tr>
<th>Market Cap</th>
<td colspan=3>
<%#= line_chart @dividends.pluck(:date,:mktcap)  %></td>
</tr>
-->
<tr>
<th><%= link_to 'Back', stock_path(@dividend.stock) %></th>
  <td></td>
  <td></td>
  <td>
  </td>
</tr>
	</tbody>
</table>
  </td>
</tr>
	</tbody>
</table>
<%#= datagrid_form_for @dividend_grid, :method => :get, :url => dividends_path %>

<%= paginate(@dividends_grid.assets) %>
<%= datagrid_table @dividends_grid %>
<%= paginate(@dividends_grid.assets) %>

<%= link_to 'Back', stocks_path %>

