<p id="notice"><%= notice %></p>

<p>
  <strong>Symbol:</strong>
  <%= @stock.symbol %>
</p>

<p>
  <strong>Name:</strong>
  <%= @stock.name %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @stock.industry %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @stock.sector %>
</p>

<p>
  <strong>Ccc seq:</strong>
  <%= @stock.ccc_seq %>
</p>

<p>
  <strong>Price:</strong>
  <%= @stock.price %>
</p>

<p>
  <strong>Yield years:</strong>
  <%= @stock.yield_years %>
</p>

<p>
  <strong>Div yield:</strong>
  <%= @stock.div_yield %>
</p>

<p>
  <strong>Old rate:</strong>
  <%= @stock.old_rate %>
</p>

<p>
  <strong>New rate:</strong>
  <%= @stock.new_rate %>
</p>

<p>
  <strong>Mr inc:</strong>
  <%= @stock.mr_inc %>
</p>

<p>
  <strong>Ex div:</strong>
  <%= @stock.ex_div %>
</p>

<p>
  <strong>Div record:</strong>
  <%= @stock.div_record %>
</p>

<p>
  <strong>Div pay:</strong>
  <%= @stock.div_pay %>
</p>

<p>
  <strong>Qtly sched:</strong>
  <%= @stock.qtly_sched %>
</p>

<p>
  <strong>Annual div:</strong>
  <%= @stock.annual_div %>
</p>

<p>
  <strong>Payout:</strong>
  <%= @stock.payout %>
</p>

<p>
  <strong>I graham:</strong>
  <%= @stock.i_graham %>
</p>

<p>
  <strong>P e:</strong>
  <%= @stock.p_e %>
</p>

<p>
  <strong>Fye month:</strong>
  <%= @stock.fye_month %>
</p>

<p>
  <strong>Ttm eps:</strong>
  <%= @stock.ttm_eps %>
</p>

<p>
  <strong>Peg ratio:</strong>
  <%= @stock.peg_ratio %>
</p>

<p>
  <strong>Ttm p sales:</strong>
  <%= @stock.ttm_p_sales %>
</p>

<p>
  <strong>Mrq p book:</strong>
  <%= @stock.mrq_p_book %>
</p>

<p>
  <strong>Ttm roe:</strong>
  <%= @stock.ttm_roe %>
</p>

<p>
  <strong>Ty growth:</strong>
  <%= @stock.ty_growth %>
</p>

<p>
  <strong>Ny growth:</strong>
  <%= @stock.ny_growth %>
</p>

<p>
  <strong>Last 5 growth:</strong>
  <%= @stock.last_5_growth %>
</p>

<p>
  <strong>Est 5 growth:</strong>
  <%= @stock.est_5_growth %>
</p>

<p>
  <strong>Na:</strong>
  <%= @stock.na %>
</p>

<p>
  <strong>Mktcap:</strong>
  <%= @stock.mktcap %>
</p>

<p>
  <strong>Inside own:</strong>
  <%= @stock.inside_own %>
</p>

<p>
  <strong>Debt equity:</strong>
  <%= @stock.debt_equity %>
</p>

<p>
  <strong>Chowder rule:</strong>
  <%= @stock.chowder_rule %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
