<p id="notice"><td><%= notice %></td></tr>

<table>
	<tbody>
<tr>
  <th>Symbol</th>
  <th>Name</th>
  <th>Industry</th>
  <th>Sector</th>
</tr>

<tr>
  <td><%= @stock.symbol %></td>
  <td><%= @stock.name %></td>
  <td><%= @stock.industry.name %></td>
  <td><%= @stock.sector.name %></td>
</tr>

<tr>
  <th>Ccc seq</th>
  <td></td>
  <td rowspan=2><%= @stock.price %></td>
  <td rowspan=2><%= @stock.div_yield %></td>
</tr>
<tr>
  <td><%= @stock.ccc_seq %></td>
</tr>

  <tr>
  <th>Yield years</th>
	  <th colspan=3>Dividend Information</th>
  </tr>

<tr>
  <td><%= @stock.yield_years %></td>
  <th>Old rate</th>
  <th>New rate</th>
  <th>MR% inc</th>
</tr>

<tr>
  <th>Qtly Sched</th>
  <td><%= @stock.old_rate %></td>
  <td><%= @stock.new_rate %></td>
  <td><%= @stock.mr_inc %></td>
</tr>

<tr>
  <td><%= @stock.qtly_sched %></td>
  <th>Ex div</th>
  <th>Div record</th>
  <th>Div pay</th>
</tr>

<tr>
  <th>Annual div</th>
  <td><%= @stock.ex_div %></td>
  <td><%= @stock.div_record %></td>
  <td><%= @stock.div_pay %></td>
</tr>

<tr>
  <td><%= @stock.annual_div %></td>
	<td></td>
	<td></td>
	<td></td>
</tr>


<tr>
  <th>Payout</th>
  <th>P/E</th>
  <th>TTM EPS</th>
  <th>PEG Ratio</th>
</tr>

<tr>
  <td><%= @stock.payout %></td>
  <td><%= @stock.p_e %></td>
  <td><%= @stock.ttm_eps %></td>
  <td><%= @stock.peg_ratio %></td>
</tr>

<tr>
  <th>+/-% vs. Graham</th>
  <th>TTM P/Sales</th>
  <th>MRQ P/Book</th>
  <th>TTM ROE</th>
</tr>

<tr>
  <td><%= @stock.i_graham %></td>
  <td><%= @stock.ttm_p_sales %></td>
  <td><%= @stock.mrq_p_book %></td>
  <td><%= @stock.ttm_roe %></td>
</tr>

<tr>
  <th>TY growth</th>
  <th>NY growth</th>
  <th>Last 5 growth</th>
  <th>Est 5 growth</th>
</tr>

<tr>
  <td><%= @stock.ty_growth %></td>
  <td><%= @stock.ny_growth %></td>
  <td><%= @stock.last_5_growth %></td>
  <td><%= @stock.est_5_growth %></td>
</tr>

<tr>
  <th>Mktcap</th>
  <th>FYE month</th>
  <th>NA</th>
  <td></td>
</tr>

<tr>
  <td><%= @stock.mktcap %></td>
  <td><%= @stock.fye_month %></td>
  <td><%= @stock.na %></td>
  <td></td>
</tr>

<tr>
  <th>Inside own</th>
  <th>Debt equity</th>
  <th>Chowder rule</th>
  <td></td>
</tr>

<tr>
  <td><%= @stock.inside_own %></td>
  <td><%= @stock.debt_equity %></td>
  <td><%= @stock.chowder_rule %></td>
  <td></td>
</tr>
<tr>
<th><%= link_to 'Edit', edit_stock_path(@stock) %></th>
<th><%= link_to 'Back', stocks_path %></th>
  <td></td>
  <td></td>
</tr>
	</tbody>
</table>
